#border {

    border: 8px solid black;
    border-radius: 5%;

    padding: 5rem;

    width: fit-content
}

#item1 {
    padding: 5rem 6rem 5rem 10rem;
    width: 400px;
    box-shadow: 0px 0px 0px 5px darkblue;
    border-radius: 35%;

    height: 100px;

}

#item2 {
    padding: 5rem 10rem 5rem 6rem;
    box-shadow: 0px 0px 0px 5px chocolate;
    border-radius: 35%;

    width: 400px;
    height: 100px;
}