#order {
    border: 1px solid black;
    background: red
}

ol li {
    background: darkred ;
    color: lightgray;
    list-style:  upper-roman outside ;
    padding: 20px;
}

#unorder {
    border: 1px solid black;
    background: blue;
}

 ul li {
    background: darkblue;
    color: lightgray; 
    margin:5px ;
    padding: 20px;
    
}